*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
/*fuentes */
@font-face {
    font-family: 'gotham-black';
    src: url(../fuentes/GOTHAM-BLACK.TTF);
}
@font-face {
    font-family: 'gotham-blackitalic';
    src: url(../fuentes/GOTHAM-BLACKITALIC.TTF);
}
@font-face {
    font-family: 'gotham-bold';
    src: url(../fuentes/GOTHAM-BOLD.TTF);
}
@font-face {
    font-family: 'gotham-bolditalic';
    src: url(../fuentes/GOTHAM-BOLDITALIC.TTF);
}
@font-face {
    font-family: 'gotham-light';
    src: url(../fuentes/GOTHAM-LIGHT.TTF);
}
@font-face {
    font-family: 'gotham-lightitalic';
    src: url(../fuentes/GOTHAM-LIGHTITALIC.TTF);
}
@font-face {
    font-family: 'gotham-medium';
    src: url(../fuentes/GOTHAM-MEDIUM.TTF);
}
@font-face {
    font-family: 'gotham-mediumitalic';
    src: url(../fuentes/GOTHAM-MEDIUMITALIC.TTF);
}
@font-face {
    font-family: 'gotham-thin';
    src: url(../fuentes/GOTHAM-THIN.TTF);
}
@font-face {
    font-family: 'gotham-thinitalic';
    src: url(../fuentes/GOTHAM-THINITALIC.TTF);
}
@font-face {
    font-family: 'gotham-ultra';
    src: url(../fuentes/GOTHAM-ULTRA.TTF);
}
@font-face {
    font-family: 'gotham-ultraitalic';
    src: url(../fuentes/GOTHAM-ULTRAITALIC.TTF);
}
@font-face {
    font-family: 'gotham-xlight';
    src: url(../fuentes/GOTHAM-XLIGHT.TTF);
}
@font-face {
    font-family: 'gotham-xlightitalic';
    src: url(../fuentes/GOTHAM-XLIGHTITALIC.TTF);
}

/*cierro fuentes*/
body{
    min-height: 100vh;
    font-family: 'gotham-medium'; 
    scroll-behavior: smooth;    
}


/* Empieza el Header */

header{
    background-color: rgb(15, 70, 120);
    font-family: 'gotham-light';
    padding: 15px;
    font-size: 20px;
   width: 100%;
}

.navbar-collapse{
    justify-content: space-around;
}

.navbar-toggler{
    background-color: white;
}

.a{
    padding-right: 60px;
}




/* Termina el Header */

/* Logo */
.foto-sobremi{
    background-image: url(../img/thumbnail_LOGO\ GELOS&LOPEZ.jpg);
  background-color: black;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 70vh;   

}
/*Cierro Logo */

/*Abro descripcion principal*/
.descripcion{
    text-align: center;
    padding: 35px;
    
}
.h1-desc{
    font-family: 'gotham-bold';
    font-size: 48px;
    color: rgba(0, 0, 0, 0.774);
}

.h4-desc{
    font-size: 18px;
    font-weight: 550;
    font-family: 'gotham-medium';
}

.spanh4{
    color: transparent;
    cursor: text;
    transform-origin: 0% 0%;
}

.p-desc{
    font-size: 18.6667;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    text-align: center;
    font-family: 'gotham-medium';
}

.p-desc-dos{
    text-align: center;
    font-size: 18px;
    margin: 0;
    font-family: 'gotham-light';
}
/*Cierro descripcion principal*/

/*Abro imagen swiss medical arg*/
.imgarg{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 40px;
}

.imgsmg{
    max-width: 100%;
    height: auto;
}
/*Cierro imagen swiss medical arg*/

/*Abro Asesoramiento personal*/
.section-asesoramiento{
    background-color: rgb(15, 70, 120);
    
}

.div-asesoramiento-dos{
    font-size: 25px;
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}

.spanasesoramiento{
    padding-left: 40px;
}

.div-asesoramiento{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    justify-content: space-around;

}

.imgasesoramiento{
    height: 40px;
    width: 40px;
}

.p-asesoramiento{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
    font-family: 'gotham-thin';
}
/*Cierro Asesoramiento personal*/


/*Abro Servicios*/

.h3-servicios{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 70px;
    font-family: 'gotham-bold';
}

.section-lista-servicios{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    justify-content: space-around;
}
.p-servicios{
    text-align: center;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'gotham-medium';
}

.p-serviciosdos{
    margin: 0;
    font-size: 12px;
    font-family: 'gotham-light';
}
.imgtick{
    height: 40px;
    width: 40px;
}
/*Cierro Servicios*/


/*Abro Productos*/
.h2-productos{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.section-productos{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    justify-content: space-around;
}

.card{
    background-color: rgb(15, 70, 120) ;
    width: 20rem;
    border-color: white;
}

.card-img-top{
    height: 250px;
}

.card-body{
    background-color: rgb(15, 70, 120);
    height: 60px;
    border-radius: 20px;
}

.card-text{
    color: white;
    font-weight: 800;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-family: 'gotham-medium';
}
/*Cierro Productos*/

/*Abro Cotizar*/
.div-cotizar{
    text-align: center;
    padding-bottom: 50px;
}

.p-cotizar{
    font-size: 22px;
    text-align: center;
    padding-top: 100px;
}

.boton{
    background-color: rgb(15, 70, 120);
    color: white;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'gotham-medium';
    text-transform: uppercase;
}
/*Cierro Cotizar*/


/*Abro Contacto*/

.div-contacto{
    background-image: url(../img/freelance-young-asian-businesswoman-casual-wear-using-laptop-working-in-living-room-at-home\ \(1\)@2x.png);
    height: 82vh;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.h2contacto{
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
}

.form{
    height: 82vh;   
    background-color: rgba(0, 0, 0, 0.159);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.boton2{
    background-color: white;
    color: rgb(15, 70, 120);
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}
.form-control{
    border: 1px ;
    margin: 10px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.6);    
}
.form-control:focus{
   border-bottom: 3px solid rgb(90, 222, 255);
}
/*Cierro Contacto*/
