*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body{
    font-family: sans-serif;
}



/* Empieza el Header */
header{
    background-color: rgb(15, 70, 120);
    height: 60px;
}

.nav-item{
    left: 502.411px;
    top: 16.7758px;
    font-size: 16px;
    padding: 10px;
    transform: scaleX(1.0876);
}

.nav-link{
    text-decoration: none;
    color: white;
   padding-right: 70px;
}

/* Termina el Header */

.foto-sobremi{
    background-image: url(../img/thumbnail_LOGO\ GELOS&LOPEZ.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
}
.descripcion{
    text-align: center;
    padding: 35px;
    
}
.h1-desc{
    font-weight: bold;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.774);
}

.h4-desc{
    font-size: 18px;
    font-weight: 550;
}

.spanh4{
    color: transparent;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

.p-desc{
    font-size: 18.6667;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.p-desc-dos{
    text-align: center;
    font-size: 18px;
    margin: 0;
    font-style: thin;
}

.divrespaldo{
 text-align: center;
 background-size: 20px;
}

.imgsmarg{
    padding: 20px;
    padding-bottom: 80px;
    width: 450px;
}

.div-asesoramiento{
    background-color: rgb(15, 70, 120);
    height: 480px;
}

.div-asesoramiento-dos{
    font-size: 25px;
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}

.spanasesoramiento{
    padding-left: 30px;
}

.section-asesoramiento{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    justify-content: space-around;

}

.imgasesoramiento{
    height: 40px;
    width: 40px;
}

.p-asesoramiento{
    text-align: center;
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
}



.h3-servicios{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 70px;
}

.p-servicios{
    text-align: center;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

.p-serviciosdos{
    margin: 0;
    font-size: 12px;
}

.section-lista-servicios{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    justify-content: space-around;

}


.imgtick{
    height: 40px;
    width: 40px;
}
.section-productos{
    text-align: center;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    justify-content: space-between;
}
.h2-productos{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.card{
    background-color: rgb(15, 70, 120) ;
    width: 18rem;
    border-color: white;
}

.card-body{
    background-color: rgb(15, 70, 120);
    height: 60px;
}

.card-text{
    color: white;
    font-weight: 800;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.card-img-top{
    height: 250px;
}

.div-cotizar{
    text-align: center;
    padding-bottom: 50px;
}

.p-cotizar{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
}

.boton{
    background-color: rgb(15, 70, 120);
    color: white;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

.div-contacto{
    background-image: url(../img/freelance-young-asian-businesswoman-casual-wear-using-laptop-working-in-living-room-at-home\ \(1\)@2x.png);
    height: 70vh;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.form{
    height: 70vh;   
    background-color: rgba(0, 0, 0, 0.159);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
}

.boton2{
    background-color: white;
    color: rgb(15, 70, 120);
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}